# Database Connection
MONGO_CONNECTION_URL=.....

# Generic Configuartion
DEFAULT_PASSWORD=123456789
DEFAULT_ADMIN_NAME=Admin
JWT_ENCRYPTION_KEY=wdhevf7383783fujefu3ei3
JWT_TOKEN_EXPIRY_TIME=300000


# Email Credentials
SEND_GRID_API_KEY=...................
SUPPORT_SENDER_EMAIL=.........
SUPPORT_EMAIL=..........
SECURITY_EMAIL=...........

# Google login credentials
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:3000/patient/google/redirect
FE_SOCIAL_MEDIA_REDIRECT_URL=https://ai-health-care.netlify.app/patient/login/redirect